<!-- Example row of columns -->

    <main class="container">
    	<table class="table table-hover">
    		<thead>
    			<tr>
    				<th>TS</th><th>IPV4</th><th>IPV6</th>
    			</tr>
    		</thead>
    		<tbody>
<% entries.forEach(function(entry){ %>
				<tr>
					<td><%= entry.ts %></td>
					<td><%= entry.ipv4 %></td>
					<td><%= entry.ipv6 %></td>
				</tr>
<% }) %>
			</tbody>
		</table>
	</main>
