<!-- Example row of columns -->

    <main class="container">
    	<table id="iplogdata" class="table table-hover" data-pagenum="0">
    		<thead>
    			<tr>
    				<th>TS</th><th>IPV4</th><th>IPV6</th>
    			</tr>
    		</thead>
    		<tbody>
<% entries.forEach(function(entry){ %>
				<tr>
					<td><%= entry.ts %></td>
					<td><%= entry.ipv4 %></td>
					<td><%= entry.ipv6 %></td>
				</tr>
<% }) %>
			</tbody>
		</table>
		<nav aria-label="...">
  			<ul class="pager">
			    <li><a href="#" id="btnprev">Previous</a></li>
			    <li><a href="#" id="btnnext">Next</a></li>
			</ul>
		</nav>

	</main>
