<!-- Example row of columns -->

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Logging</h3>
  </div>
  <div class="panel-body" id="log">

  </div>
</div>