<!-- Example row of columns -->

    <main class="container">
    	<h1>Your current IP history</h1>

    	<table id="iplogdata" class="table table-hover" data-pagelen="10" data-pagenum="0">
    		<thead>
    			<tr>
    				<th>Timestamp (UTC)</th><th>IPv4</th><th>IPv6</th>
    			</tr>
    		</thead>
    		<tbody>
			</tbody>
			<caption>page <span>1</span></caption>
		</table>
		<nav aria-label="...">
  			<ul class="pager">
			    <li><a href="#" id="btnprev">Previous</a></li>
			    <li><a href="#" id="btnnext">Next</a></li>
			</ul>
		</nav>

	</main>
