<% if(flasherror.length > 0) { %>
<div class="row">
  <div class="alert alert-danger" role="alert"><%= flasherror %></div>
</div>
<% } // if flasherror %>
<% if(flashinfo.length > 0) { %>
<div class="row">
  <div class="alert alert-info" role="alert"><%= flashinfo %></div>
</div>
<% } // if flashinfo %>