<footer class="container-fluid">
	<div class="shariff" data-backend-url="https://shariff.myocastor.de/" data-services="[&quot;facebook&quot;,&quot;googleplus&quot;,&quot;twitter&quot;,&quot;reddit&quot;,&quot;stumbleupon&quot;,&quot;xing&quot;,&quot;info&quot;]" data-flattr-user="kkretsch" data-theme="grey" data-orientation="horizontal"></div>
	<p class="text-center">&copy; Kai Kretschmann 2016</p>
</footer>