<footer class="container-fluid">
	<p class="text-center block">&copy; Kai Kretschmann 2016</p>
	<div class="shariff" data-backend-url="https://shariff.myocastor.de/" data-services="twitter,facebook,googleplus,reddit,stumbleupon,flattr,info" data-flattr-user="kkretsch" data-theme="grey" data-orientation="horizontal"></div>
</footer>