<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                data-target=".navbar-collapse">
                <span class="icon-bar"></span> <span class="icon-bar"></span> <span
                    class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Vocab Guru</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li id="home"><a href="/">Home</a></li>
                <li id="blog"><a href="https://blog.vocab.guru/">Blog</a></li>
                <li id="imprint"><a href="https://blog.vocab.guru/de/impressum/">Imprint</a></li>
                <li id="about"><a href="/about">About</a></li>
<%
if(typeof(user) != 'undefined') {
%>
                <li id="classroom"><a href="/classroom" title="Go to classroom">Classroom</a></li>
                <li id="logout"><a href="/u/logout" title="Logout from <%= user.user %>">Logout</a></li>
<%
} else {
%>
				<!--  -->
<%
} // if
%>
            </ul>
        </div>
        <!--/.navbar-collapse -->
    </div>
</div>