<script src="/assets/js/statmyocastordepiwik.js" async defer></script>
<script src="/dyn.js"></script>
<script src="/assets/js/piwik.js"></script>
<noscript><p><img src="<%= piwikurl %>?idsite=<%= piwikid %>&rec=1" style="border:0;" alt="" /></p></noscript>
