@colorBackground: #f1f1f1;

body {
  height: 100%;
  background: #fefefe url(/assets/img/bg_dots.png) repeat-x;
  color: #333333;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857;
}

a {
  color: #00B7FF;
}

main {
  margin-top: 50px;
}

#registrationblock {
  display: none;
}

.block {
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  padding: 20px 20px 10px;
}

img.fright {
  float: right;
  max-width: 200px;
  max-height: 200px;
  width: 25%;
  height: 25%;
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}
img.fright:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

table.table {
  background-color: rgba(255,255,255,0.5);
}

#eventmodal {
  dl dd {
    font-family: "Courier New", Courier, monospace;
  }
}
#calendar a.fc-day-grid-event, #calendar a.fc-time-grid-event {
  cursor: zoom-in;
}
#calendar a.fc-day-grid-event:hover, #calendar a.fc-time-grid-event:hover {
  opacity: 0.8;
}

footer {
  margin-top: 50px;
  border-top: 1px solid #121212;
  background-color: #f8f8f8;
  opacity: 0.8;
  padding: 1em;

  p:last-child {
    margin-bottom: 0;
  }
  div.shariff {
  }
}

#footerstatus {
  display: none;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 72px;
}

@media print {
  nav, footer div.shariff, #footerstatus {
    display: none;
  }
}