@colorBackground: #595959;

body.vocab {
  background-attachment: fixed;
  background-position: center top;
  background-repeat: repeat-y;
  background-size: cover;
  height: 100%;
  background-color: @colorBackground;
  color: #333333;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857;
}

@media only screen and (min-width: 350px) {
  body.vocab {
    background-image: url("/assets/img/blogvocab_350.jpg");
  }
}
@media only screen and (min-width: 700px) {
  body.vocab {
    background-image: url("/assets/img/blogvocab_700.jpg");
  }
}
@media only screen and (min-width: 1400px) {
  body.vocab {
    background-image: url("/assets/img/blogvocab.jpg");
  }
}


a {
  color: #00B7FF;
}

main {
  margin-top: 100px;
}
body.homepage main {
  margin-top: 10px;
}

.block {
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  padding: 20px 20px 10px;
}

footer {
  margin-top: 50px;

  p.block {
    margin: 0;
    padding: 2em 0;
    background-color: #f8f8f8;
    border-top: 1px solid #121212;
  }
}