<!-- Example row of columns -->
<div class="row">
    <div class="col-md-4">
        <h2>Login</h2>
        <p>Login to your account</p>
        <form action="/u/login" method="post" id="loginform" enctype="application/x-www-form-urlencoded">
        <fieldset>
	        <label for="name" id="lnamelabel">Vocab Nickname</label>
			<div class="input-group">
				<input type="text" class="form-control" id="lname" name="lname" pattern="[a-z]{1,}\.[-a-z]{2,}[0-9]*" title="Your vocab.guru nickname" placeholder="m.mustermann" required aria-describedby="lnamelabel">
				<span class="input-group-addon">@vocab.guru</span>
			</div>
            <label for="pwd">Password:</label>
			<div class="input-group">
				<input type="password" class="form-control" id="pwd" name="pwd" required>
				<span class="input-group-addon"></span>
			</div>

			<div class="btn-group" role="group">
            <input type="submit" class="btn btn-success" value="Login">
            </div>
        </fieldset>
        </form>
    </div>
    <div class="col-md-4">
        <h2>Register</h2>
        <p>Create a new account for free.</p>
         <form action="/u/register" method="post" enctype="application/x-www-form-urlencoded">
         <fieldset>
	        <label for="name" id="nameLabel">Choose a new vocab nickname</label>
			<div class="input-group">
				<span class="input-group-addon" id="nameStatus"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span></span>
				<input type="text" class="form-control" id="name" name="name" pattern="[a-z]{1,}\.[-a-z]{2,}[0-9]*" title="Choose a new vocab nickname (firstname.lastname) containing only letters optionally followed by numbers" placeholder="m.mustermann" required aria-describedby="nameLabel">
			</div>

            <label for="pwd1">Password:</label>
			<div class="input-group">
				<span class="input-group-addon" id="pwd1Status"></span>
				<input type="password" class="form-control" id="pwd1" name="pwd1" required>
			</div>

            <label for="pwd2">Repeat Password:</label>
			<div class="input-group">
				<span class="input-group-addon" id="pwd2Status"></span>
				<input type="password" class="form-control" id="pwd2" name="pwd2" required>
			</div>

			<div class="btn-group" role="group">
            	<input type="submit" class="btn btn-default" value="Register">
            </div>
         </fieldset>
      </form>
    </div>
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
            egestas eget quam. Vestibulum id ligula porta felis euismod semper.
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus.</p>
        <p>
            <a class="btn btn-default" href="#" role="button">View details
                &raquo;</a>
        </p>
    </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">Logging</h3>
  </div>
  <div class="panel-body" id="log">

  </div>
</div>