body {
  background-attachment: fixed;
  background-image: url("/assets/img/blogvocab.jpg");
  background-position: center top;
  background-repeat: repeat-y;
  background-size: cover;
  height: 100%;
  background-color: #595959;
  color: #333333;
  font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;
  font-size: 15px;
  line-height: 1.42857;
}

a {
  color: #00B7FF;
}

main {
  margin-top: 100px;
}
body.homepage main {
  margin-top: 10px;
}

.block {
  background-color: #ffffff;
  border-radius: 0;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
  padding: 20px 20px 10px;
}