<!DOCTYPE html>
<html lang="<%= projectlang %>">
<% include ../partials/header %>
<body class="homepage">
    <% include ../partials/navbar %>
  
    <main class="container">
	  	<% include ../partials/flash %>

		<h1>Calendar</h1>
		<div id="calendar"></div>

    </main>

    <% include ../partials/footer %>
    
    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>