<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body>
    <% include ../partials/navbar %>
 

    <main class="container">
	    Willkommen <%= user.user %>
	    <p><a href="/classroom/de-es/list">Test List</a></p>
	    <p><a href="/classroom/de-es/ask">One of three test </a></p>
	</main>
 
    <% include ../partials/footer %>

    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>