<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body>
    <% include ../partials/navbar %>
 
    <main class="container">
<div class="row">
<div class="col-md-6 panel panel-default">
  <div class="panel-body" lang="<%= language.langfrom %>">
    <%= vcardfrom.txtfrom %>
  </div>
</div>
</div>

<% vcards.forEach(function(vcard){ %>
<div class="row">
<div class="col-md-6 panel panel-default">
  <div class="panel-body" lang="<%= language.langto %>">
    <%= vcard.txtto %>
  </div>
</div>
</div>
<% }) %>
	</main>
 
    <% include ../partials/footer %>

    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>