<!DOCTYPE html>
<html lang="<%= projectlang %>">
<% include ../partials/header %>
<body class="error" id="<%= pagename %>">
    <% include ../partials/navbar %>
 

    <main class="container">
		<% include ../partials/flash %>

    	<h1>Not found!</h1>
        <hr>
 
        <% include ../partials/footer %>
    </main>

    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>