<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body class="vocab homepage">
    <% include ../partials/navbar %>
 
    <main class="container">
    <div class="row">
    <div class="col-md-3 block">
        <h2>Login</h2>
        <p>Login to your account</p>
        <form action="/u/forgot" method="post" id="loginform" enctype="application/x-www-form-urlencoded" autocomplete="off">
        <input type="hidden" name="_csrf" value="<%= csrftoken %>">
        <fieldset>
	        <label for="email" id="lnamelabel">IPlog Nickname</label>
			<div class="input-group">
				<input type="text" class="form-control" id="email" name="email" title="Your IPlog nickname (matches your personal email)" placeholder="m.mustermann@example.com" required aria-describedby="lnamelabel">
				<span class="input-group-addon"></span>
			</div>

			<div class="btn-group" role="group">
	            <input type="submit" class="btn btn-success" value="Forgot">
            </div>
        </fieldset>
        </form>
    </div>

   </main>

    <% include ../partials/footer %>
    
    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>