<!DOCTYPE html>
<html lang="<%= projectlang %>">
<% include ../partials/header %>
<body class="homepage" id="<%= pagename %>">
    <% include ../partials/navbar %>
  
    <main class="container">
	  	<% include ../partials/flash %>

		<h1>Grants</h1>
		<table id="grantentries" class="table table-hover">
    		<thead>
    			<tr>
    				<th>&nbsp;</th>
    				<th>last used (UTC)</th>
    				<th>visits</th>
    				<th>entry</th>
    				<th>from (UTC)</th><th>to (UTC)</th>
    			</tr>
    		</thead>
    		<tbody>
			</tbody>
		</table>

		<h2>Legend</h2>
		<ul>
			<li><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>&nbsp;active</li>
			<li><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;disabled</li>
		</ul>

    </main>

    <% include ../partials/footer %>
    
    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>