<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body>
    <% include ../partials/navbar %>
 
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1>Vocab Guru</h1>
            <p>Under construction</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="http://blog.vocab.guru/">Learn more
                    &raquo;</a>
            </p>
        </div>
    </div>
 
    <div class="container">
        <% include ../partials/content %>
        <hr>
 
        <% include ../partials/footer %>
    </div>
    <!-- /container -->

    <% include ../partials/webstats %>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="/assets/js/strophe.min.js"></script>
    <script src="/assets/js/main.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>
</html>