<!DOCTYPE html>
<html lang="<%= projectlang %>">
<% include ../partials/header %>
<body class="homepage">
    <% include ../partials/navbar %>
 
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1><%= projectname %><small>Eigenes IP Archiv zur Alibi Recherche</small></h1>
            <p>Im Aufbau</p>
            <p>
                <a class="btn btn-primary btn-lg" role="button" href="<%= projectblog %>/">Mehr Infos
                    &raquo;</a>
            </p>
        </div>
    </div>
 
 
    <main class="container">
	   	<% include ../partials/flash %>
        <% include ../partials/content %>
    </main>

    <% include ../partials/footer %>
    
    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>