<!DOCTYPE html>
<html lang="en">
<% include ../partials/header %>
<body class="vocab homepage">
    <% include ../partials/navbar %>
  
    <main class="container">
        <% include ../partials/content_user %>
    </main>

    <% include ../partials/footer %>
    
    <% include ../partials/webstats %>
    <% include ../partials/footerlibs %>
</body>
</html>